name: Deploy frontend to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Build frontend
        working-directory: ./frontend
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: actions/configure-pages@v3

      - name: Deploy artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: frontend/dist

      - name: Deploy
        uses: actions/deploy-pages@v2
